<div class="header">
    <p class="note">NOTE TO DEV:  MAKE CHANGE: 1) bump up floor of chart by Npx. 2) if dollar ammount  is nil or 0, set its height to negative Npx. This makes all contract days accessible to user through chart.</p>
    <h1>Major U.S. DoD Contracts</h1>
    <h3>Contracts over $6.5M in value since July 1, 2014</h3>
    <h3>At least
        <%= @total_num %>
        has been spent on large military contracts since June 1, 2014</h3>
    <p id="numMissing">LOADING. If hanging, refresh page.</p>
<div id="d3me"></div>
<div class="breakdown">
<p>A breakdown of spending by agency...</p>
<table>
    <tr>
        <td>Agency</td>
        <td>Spending (in millions) since 7/1/14&#42;</td>
        <td>Spending as % of all DoD since 7/1/14&#42;</td>
    </tr>
<% @agencies.each do |agency| %>
<% total_spending = Contract.where(agency_id: agency.id).sum(:dollar_amt) %>
<tr>
    <td><%= link_to agency.name, agency %></td>
    <td><%= '$' + (total_spending / 1000000).round(2).to_s %>
    <td><%= ((total_spending / Contract.sum(:dollar_amt)) * 100).round(2) %>%</td>
</tr>
<% end %>
</table>
</div>
<script id="contracts_json" type="text/json">
    <%= raw @contracts_JSON %>
</script>
