<div class="header">
    <h2><%= link_to @contract.title, @contract %></h2>
    <h4><% if @contract.agency_id != nil %>Agency or Department associated with this daily report:
        <%= link_to @contract.agency.name, @contract.agency %><% end %></h4>
</div>
<div class="container-fluid">
    <dl>
        <dt>Date reported</dt>
        <dd><%= @contract.pubdate %></dd>
        <% if @contract.dollar_amt %>
        <dt>Ammount</dt>
        <dd><%= @money %></dd>
        <dd>~
            <%= @contract.percent_of_agency.round(2) %>% of reported
            <%= @contract.agency.name %>
            spending.</dd>
        <dd>~
            <%= @contract.percent_val.round(2) %>% of total reported DOD spending.</dd>
        <% end %>
        <dt>Description</dt>
        <dd><%= @contract.description %></dd>
        <dt>Reported by</dt>
    </dd><%= @contract.creator %></dd>
</dl>
</div>
