<!DOCTYPE html>
<html>
<head>
  <title>MilContracts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>U.S. Military Spending</title>
</head>
<body>
    <div class="menu">
        <span><%= link_to "Home - Contracts", '/' %></span>
        <span><%= link_to "Agencies", agencies_path() %></span>
    </div>
<%= yield %>

</body>
</html>
